name: "Test passquito-cdk-construct"

on:
  push:
    branches-ignore:
      - main # workflow to publish a developer package should run tests
  pull_request:
    branches:
      - main

env:
  node-version: 24
  pnpm-version: 10

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # pnpm has to be installed prior to running actions/setup-node
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.pnpm-version }}
          run_install: false

      - name: Setup Node.js ${{ env.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.node-version }}
          cache: pnpm
          registry-url: 'https://npm.pkg.github.com' # necessary to use NODE_AUTH_TOKEN during pnpm install

      - name: Install dependencies
        env:
          NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_READER_PAT }}
        run: pnpm install --filter "@codemonger-io/passquito-cdk-construct"

      - name: Run tests
        run: pnpm run -r --filter "@codemonger-io/passquito-cdk-construct" test
